*{
	margin:0;
	padding:0;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Open Sans', sans-serif;
    background-color: #DAE3E5;    
}

/*------------------- NAVBAR DROPDOWN MOBILE START -------------------*/
/*** Dropdown-menu body ***/
.dropdown-menu{
	color:#F6BF58;
	margin:0;
   	font-family: 'Teko', sans-serif;
   	font-size: 1.5rem;
    background: #04080F;
	padding-left:20px;
    border-bottom: 2px solid #F6BF58;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

/*** Dropdown-menu ulist style ***/
.dropdown-menu ul{
    list-style-type: none;
    padding: 0;
	margin:0;
}

/*** Dropdown-menu "a" style ***/
.dropdown-menu a{
    display: block;
    text-decoration: none;
    padding: 10px;
}

/***--- Hover dropdown effect START ---***/
.dropdown-menu ul li:hover{
	background:#333;
}

.menu-content a:hover{
	color:#F6BF58;
}
/***--- Hover dropdown effect END ---***/

/*** Menu "a" href style ***/
.menu-content a{
	color: white;
	margin: 0 0;
   	font-family: 'Teko', sans-serif;
   	font-size: 1.5rem;
	margin: 0;
}

/*** Dropdown-menu icon ***/
.dropdown-menu label{
    display: block;
    cursor: pointer;
    background: url(../img/closed.png) no-repeat left center;
	background-size: 2.5rem;
    padding: 10px 0 10px 80px;
} 

/***--- Toggle effect start ---***/
.menu-content{
    max-height: 0;
    overflow: hidden;
}

input:checked ~ .menu-content{
    max-height: 1000px;
    transition: all ease 1s;
}

input:checked ~ label{
    background: url(../img/open.png) no-repeat left center;
	background-size: 2.5rem;
}
/***--- Toggle effect end ---***/
/*----------------------- NAVBAR DROPDOWN MOBILE START ---------------------*/

/*----------------------- NAVBAR PC SECTION START --------------------------*/
nav{
	display:flex;
	justify-content: space-between;
	/*position:fixed;*/
	top:0;
	width:100%;
	background:#04080F;	
	border-bottom: 2px solid #F6BF58;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

nav ul{
	display:flex;
	list-style-type: none;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

nav li{
	padding: 10px 1.5vw;
	
}

nav li:hover{
	background:#333;
} 

nav a{
	color:white;
	text-decoration: none;
	padding:1rem;
	font-weight:bold;
}

nav a:hover{
	color:#F6BF58;
}


/* Icons on NavBar*/
.icon{
	background-repeat: no-repeat;
    background-size: contain;
	background-position: center;
	display:flex;
	align-items: center;
}
a.home{
    background-image: url(../img/whitehome.png);
}

a.fb{
	background-image: url(../img/facebook.png);  
}

a.insta{
	background-image: url(../img/instagram.png);
}

a.snap{
	background-image: url(../img/snapchat.png);
}

a.tw{
	background-image: url(../img/twitter.png);
}
/*---------------------------- NAVBAR SECTION END --------------------------*/




/*---------------------------- Banner start --------------------------------*/
.banner{
    background-image: url(../img/Loss-Of-Privacy-Svart.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*---------------------------- Banner end ----------------------------------*/




/*------------- Wrapper for big screen mobile layout section start ---------*/

/*** Body of big mobile section ***/
.wrapper-top{
    display: grid;
    grid-template-columns: 1fr;
	width:100%;
	max-width: 80%;
	margin: 1vh auto;
	background:white;
    background-color: #DAE3E5;
    justify-content: center;
    align-content: center;
}

/*** Frame for big mobile section ***/
.wrapper-top aside{
	height: 85vh;
    width: 100%;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 7fr ;
	text-align: center;
    margin: 1vh;
    justify-content: center;
    align-content: center;
}

/*** Style for Chapter part section ***/ 
.ref-chapter{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 2px solid #04080F;
    background-color: antiquewhite;
}
/*------------- Wrapper for big screen mobile layout section end ---------*/

/*------------- Wrapper for mobile layout section start ------------------*/
/*** Body of mobil layout section ***/
.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
	width:100%;
	max-width: 80%;
	margin: 1vh auto;
	background:white;
    background-color: #DAE3E5;
    justify-content: center;
    align-content: center;
}

/*** Frame of mobil layout section start ***/
.wrapper aside{
	height: 70vh;
    width: 18rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 7fr ;
	text-align: center;
    margin: 1vh;
    justify-content: center;
    align-content: center;
}
/*------------- Wrapper for mobile layout section end ------------------*/

/*--------------------------- Head part start --------------------------*/
/*** Head part of wrapper ***/
.panel-header{
    display: grid;
    grid-template-columns: 1fr;
	padding:1vw;
    text-align: center;
    background-color: #04080F;
    color: white;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
}
/*--------------------------- Head part end ----------------------------*/

/*--------------------------- Body part start --------------------------*/
/*** Body part of wrapper ***/
.panel-body{
	overflow-y:scroll;
	margin:0;
    text-align: left;
    background-color: antiquewhite;
    border-left:solid #04080F 2px;
    border-right:solid #04080F 2px;
}

/*** Wrapper for Youtube clips ***/
.klipp{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
}

/*** Frame for Youtube clips ***/
iframe{
    height: 100%;
    width: 100%;
}

h2{
    margin: 0.5rem;
}

p{
    margin: 0.5rem;
	line-height: 1.5rem;
	padding: 1vw;
}
/*--------------------------- Body part end -----------------------------*/

/*--------------------- Feet part of wrapper start ----------------------*/
/*** Body of feet part ***/
.box{
    display: grid;
    grid-template-columns: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #04080F;
    padding: 0.2vw 0;
    border:2px solid #04080F;
}

/*** icons in feet part ***/
.box>div{
    height: 1.5rem;
    width: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0;
    align-self: center;
    margin: 6px auto;
}

.face{
    background-image: url(../img/facebook.png);
}

.snap{
    background-image: url(../img/snapchat.png);
}

.insta{
    background-image: url(../img/instagram.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.boxF>a:hover{
    background-color: #385899; 
}

.boxS>a:hover{
    background-color: #FFFB00;
}

.boxI>a:hover{
    background-color: #AC1587;  
}

.boxT>a:hover{
    background-color: #1DA1F4;  
}
/*--------------------- Feet part of wrapper end -----------------------*/




/*----------------------------- Footer start ---------------------------*/
/*** Body of footer ***/
footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #04080F;
    color: white;
	border-top: 2px solid #F6BF58;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

footer a{
	color:white;
}
/*---------------------------- Footer end -------------------------------*/




/*----------------- Responsive over 890px start -------------------------*/
@media only screen  and (min-width : 890px) {
	/**** Hide dropdown-menu ***/
    .dropdown-menu{
		display:none;
	}
    
    .wrapper{
    grid-template-columns: repeat(4,1fr);
    }
}
/*----------------- Responsive over 890px end ---------------------------*/

/*----------------- Responsive under 890px start-------------------------*/
@media only screen  and (max-width : 890px) {
	
    nav{
 		display:none;
	}
    
	input#menu{
    display: none;
	}
    
    .wrapper{
    grid-template-columns: repeat(2,1fr);  
    }
    
    .ref-chapter{
    grid-template-columns: repeat(2,1fr);
    }

}
/*------------------- Responsive over 890px end ---------------------------*/

/*----------------------- Responsive normal start -------------------------*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
    nav{
 		display:none;
		margin:0;
		padding:0;
 	}

    .wrapper{
    	grid-template-columns: 1fr;  
    }
    
    .ref-chapter{
    grid-template-columns: 1fr;
    }
}
/*------------------------ Responsive over 890px end -------------------------*/

/*-------------------- Responsive mobile device start ------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    nav{
 		display:none;
		margin:0;
		padding:0;
 	}

    .wrapper{
    	grid-template-columns: 1fr;  
    }
    
    .ref-chapter{
    grid-template-columns: 1fr;
    }
}
/*-------------------- Responsive mobile device end ---------------------------*/
