/* Wrapper */
body{
    display: flex;
    height: 100vh;
    width: 120vh;
    margin: 0px auto;
    background-color: firebrick;
    justify-content: center;
    align-items: center;
}

/* Background image */
body>div{
    display: flex;
    background-image: url(../img/varning.gif);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    width: 80%;
    justify-content: center;
    align-items: center;
}

/* Center the text */
body>div>div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/* Font */
p{
    font-size: 1.2rem;
    font-weight: bold;
}

/***************** Responsive for under 890px ***********************/
@media only screen  and (max-width : 890px) {
	
    body{
        overflow: hidden;
        display: flex;
        text-align: center;
        width: auto;
        margin: 0px auto;
        background-color: firebrick;
        align-content: center;
        align-items: center;
        text-align: center
    }
    
    
    body>div>div{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    h1{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 1rem;
    }
    
}

/***************** Responsive for mobile device ***********************/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    
    body{
        text-align: center;
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0px auto;
        background-color: firebrick;
        justify-content: center;
    }
    
    body>div>div{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    h1{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 1rem;
    }
    
}

