body{
	margin: 0;
	position: relative;
	background: #333;
}

*{
font-family: 'Teko', sans-serif; 
  font-weight: normal;
  color: #333;
}

body>div:nth-child(1){
	display:flex;
	justify-content: center;
	margin-top:100px;
}

p{
  margin: 20px 0;
 /* height:120px;
  overflow-y: scroll;*/
 
}
#pop-up{
  position: relative; 
  top: 200px; 
  width: 500px; 
  margin: 0 auto; 
  text-align: center;
}
#pop-up .container{
  background: #f0e4d4; 
  padding: 30px; 
  position: absolute; 
  top: 150px; 
  width: 100%; 
  box-sizing: border-box;
}

button{
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  background: #333;
  border-radius: 10px;
  border: 1px solid #333;
  font-size: 18px;
}

.greenbtn:hover{
	background-color:green;
	opacity: 0.5;

}
.redbtn:hover{
	background-color: red;
	opacity: 0.5;
}

.foot1{
	transform: translate(300px,350px);
}

.foot2{
	transform: translate(600px,300px);
}


/*// POP-UP ANIMATION STYLES //*/

#pop-up{
	top:-500px;
	animation: drop 0.5s ease forwards;
}

@keyframes drop{
	0%{ }
	70%{ transform:translateY(600px)}
	100%{transform:translateY(550px) }
}





