/**-------------Keyframes to specify the animation code------------**/

@keyframes BACKGROUND {
    0%   {background-color:black; left:0px; top:0px;}
    25%  {background-color:grey; left:200px; top:0px;}
    50%  {background-color:black; left:200px; top:200px;}
    75%  {background-color:white; left:0px; top:200px;}
    100% {background-color:black; left:0px; top:0px;}
}

@keyframes THESKULL {
    0%   {background-color:white; left:0px; top:0px;}
    25%  {background-color:grey; left:200px; top:0px;}
    50%  {background-color:white; left:200px; top:200px;}
    75%  {background-color:grey; left:0px; top:200px;}
    100% {background-color:white; left:0px; top:0px;}
}

/**----------Keyframes to specify the animation code End ---------**/

/* Animation changing color of the background*/
body {
    display: grid;
    grid-template-columns: 1fr;
    color: aliceblue;
    text-align: center;
    width: 100vh;
    height: 100vh;
    margin: 0px auto;
    animation-name: BACKGROUND;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}

body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 70vh;
}

body > div > div {
    display: block;
}

/* Animation changing color of the Image*/
.image {
    display: flex;
    background-image: url(bilder/skalle.png);
    border: 1px red solid;
    width: 50vh;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    animation-name: THESKULL;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;   
    border-radius: 50%;
}

/* Color transition of font*/
h1 {
   font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5rem;
     color: firebrick;
     transition: color 6s, font-size 1s;
}

/* Increase font upon the hover*/
 h1:hover {
      font-size: 4rem;
      color:black;
 }
/*---------------------- Responsive start -------------------------------*/


/***--- Responsive under 890px start ---***/
@media only screen  and (max-width : 890px) {
    
    body{
        grid-template-columns: 1fr;
        height: 20vh;
    }
    
     h1:hover {
      font-size: 2.5rem;
      color:black;
    }
    
    h1{
        font-size: 1rem;
    }
    
    .image{
    width: 30vh;
    height: 30vh;
    }
}
/***--- Responsive under 890px end ---***/


/***--- Responsive from 320 to 480 start ---***/
@media only screen and (min-width : 320px) and (max-width : 480px) {
    body{
        width: 100vw;
    }
    
    .image{
        width: 25vh;
        height: 25vh;
        margin-left: 6vw;
        margin-bottom: 10vw;
    }
    
    body > div{
        width: 100vw;
        height: 35vh;
    }
     h1:hover {
      font-size: 2rem;
      color:black;
        width: 100vw;
        height: 15vh;
 }
    h1{
        width: 100vw;
        height: 15vh;
    }
    button{
        margin-left: 10px;
    }
    
}
/***--- Responsive from 328 to 480 end ---***/


/***--- Responsive mobile device start ---***/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        
    body{
        width: 100vw;
    }
    
    .image{
        width: 25vh;
        height: 25vh;
        margin-left: 6vw;
        margin-bottom: 10vw;
    }
    
    body > div{
        width: 100vw;
        height: 35vh;
    }
     h1:hover {
      font-size: 2rem;
      color:black;
        width: 100vw;
        height: 15vh;
 }
    h1{
        width: 100vw;
        height: 15vh;
    }
    button{
        margin-left: 10px;
    }
    
}
/***--- Responsive mobile device end ---***/
/*---------------------- Responsive end ---------------------------------*/


