*{
	margin:0;
	padding:0;
}

body{
	height: 100vh;
	width: 100vw;
	font-family: 'Verdana';
}

nav{
	display:flex;
	justify-content: space-between;
	position:fixed;
	top:0;
	width:100%;
	background:#333;
	
}

nav ul{
	display:flex;
	list-style-type: none;
}

nav li{
	padding:0.8vw 1.5vw;
}


nav li:hover{
	background:#ffbb33;
} 

nav a{
	color:white;
	text-decoration: none;
	padding:1vw;
	font-weight:bold;
}


/* Specified Icons on NavBar*/

.icon{
	background-repeat: no-repeat;
    background-size: contain;
	background-position: center;
}
a.home{
    background-image: url(../img/whitehome.png);
}

a.fb{
	background-image: url(../img/facebook.png);  
}

a.insta{
	background-image: url(../img/instagram.png);
}

a.snap{
	background-image: url(../img/snapchat.png);
}

a.tw{
	background-image: url(../img/twitter.png);
}


