*{
	font-family:'Verdana';
	margin:0;
}

body{
	background:#eee;
}

.wrapper{
	width:100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 1% 5%;
	background:white;
	display:flex;
	justify-content: space-between;
	
}

/*Menu, color and text styling*/

nav{
	background:#333;
	display:flex;
	justify-content: space-between;
}

nav ul{
	display:flex;
	list-style-type: none;
	padding:0;
}

nav li{
	padding:5px;
	text-align: center;
}

nav a{
	color:white;
	text-decoration: none;
	display:block;
	text-align: center;
	padding:10px;
	font-weight:bold;
}

nav li:hover{
	background:#ffbb33;
}

/*Social media icons NavBar*/
a.home{
	background:url(../img/whitehome.png) no-repeat center;
	background-size:40%;
	text-indent: -10000px;
  	margin: 0 auto;
	width:70px;
	height:20px;

}

a.fb{
	background:url(../img/facebook.png) no-repeat center;
	background-size:40%;
	text-indent: -10000px;
  	margin: 0 auto;
	width:70px;
	height:20px;
}
a.insta{
	background:url(../img/instagram.png) no-repeat center;
	background-size:40%;
	text-indent: -10000px;
  	margin: 0 auto;
	width:70px;
	height:20px;
	
}

a.snap{
	background:url(../img/snapchat.png) no-repeat center;
	background-size:40%;
	text-indent: -10000px;
  	margin: 0 auto;
	width:70px;
	height:20px;
}

a.tw{
	background:url(../img/twitter.png) no-repeat center;
	background-size:40%;
	text-indent: -10000px;
  	margin: 0 auto;
	width:70px;
	height:20px;
}

aside{
	background-color: antiquewhite;
	border:solid #333 2px;
	width:280px;
	height:500px;
	background:;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 7fr ;
	text-align: center;
    border-radius: 20px;
    padding-bottom: 20px;
}

.panel-body{
	overflow:scroll;
	margin:0;
    text-align: left;
}

.panel-header{
    display: grid;
    grid-template-columns: 1fr 2fr;
	padding:10px;
    text-align: left; 
    background-color: #333;
    color: white;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
}


.ikonF{
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ikonS{
    background-image: url(../img/snapchat.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.ikonI{
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.ikonT{
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

p{
    margin: 5px;
}

.foot{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: #333;
    color: white;
}




