
body{
    background-color: #333;
    height: 100vh;
    width: 100vw;
    margin: 0px auto;
    color: white;
}

body>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

body>div>div>div{
    height: 25vh;
    width: 150vh;
    justify-content: center;
    align-items: center;
}

div>.image{
    display:grid;
}

/* Displayng the gif*/
.image{
    display: flex;
    background-image: url(../img/Loss.gif);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10vh;    
}

/* Timer set on here for the hidden window*/
.avtal div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    visibility: hidden;
    transition: 100000s;
    justify-content: center;
    align-items: center;
}

p{
    font-family: Courier;
    font-size: 1rem;
    text-align: left;
}

/* Hover effect here*/
.button:hover{
    border: 1px solid;
    box-shadow: 0 0 2vh rgba(255, 255, 255, 1);
}

.image:active ~ .avtal div{
    visibility: visible;
    transition: 0s;
}

.har{
    color: blue;
}

/*---------------------- Responsive start -------------------------------*/
/***--- Responsive under 890px start ---***/
@media only screen  and (min-width : 890px){
    
    .avtal>div:first-child .button{
        padding: 2px;
        margin-left: 100px;
        margin-right: 114px;
        border-radius: 5px;
    }

    .avtal>div:last-child .button{
        padding: 2px;
        margin-left: 100px;
        margin-right: 88px;
        border-radius: 5px;
    }
}
/***--- Responsive under 890px end ---***/

<<<<<<< HEAD
=======
/***--- Responsive under 890px end ---***/

>>>>>>> a0c4684314f38be55a9650f209e6c21e2132254e
/***--- Responsive over 890px start ---***/
@media only screen  and (max-width : 890px) {
	
    body{
        overflow: hidden;
    }
    
    
    .image{
        background-position: center;
        width: 100%;
        height: 150px;
        background-size: contain;
    }
    
    
    .avtal div{
        display: inline-block;
        visibility: hidden;
        transition: 100000s;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    
    }
    
    .button{
        font: 10px;
        width: 01px;
        height: 1px;
        padding: 3px;
    }
    
    button{
        font-size: 0.7rem;
    }
    
    p{
        margin-bottom: 20px;
        font-family: Courier;
        font-size: 0.7rem;
        text-align: center;
    }
    
}
/***--- Responsive over 890px end ---***/

<<<<<<< HEAD

=======
>>>>>>> a0c4684314f38be55a9650f209e6c21e2132254e
/***--- Responsive mobile device start ---***/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    body{
        overflow: hidden;
    }
    
    
    .image{
        background-position: center;
        width: 100%;
        height: 150px;
        background-size: contain;
    } 
    
    .avtal div{
        display: inline-block;
        visibility: hidden;
        transition: 100000s;
        text-align: center;
        width: 100%;
    }
    
    p{
        margin-bottom: 30px;
        font-family: Courier;
        font-size: 1.5rem;
        text-align: center;
    }
    
/* The Button */
    .button{
        font: 10px;
        width: 1px;
        height: 1px;
        padding: 3px;
    }
    
    button{
        font-size: 1.5rem;
    }
    
}
/***--- Responsive mobile device end ---***/
<<<<<<< HEAD
/*---------------------- Responsive end ---------------------------------*/
=======
/*---------------------- Responsive end -------------------------------*/
>>>>>>> a0c4684314f38be55a9650f209e6c21e2132254e
