*{
	margin:0;
	padding:0;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Open Sans', sans-serif;
    background-color: slategray;
    min-width: 321px;
}

/*------------------- NAVBAR DROPDOWN MOBILE START -------------------*/
/*** Dropdown-menu body ***/
.dropdown-menu{
	color:#F6BF58;
	margin:0;
   	font-family: 'Teko', sans-serif;
   	font-size: 1.5rem;
    background: #04080F;
	padding-left:20px;
	padding-right: 20px;
    border-bottom: 2px solid #F6BF58;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

/*** Dropdown-menu ulist style ***/
.dropdown-menu ul{
    list-style-type: none;
    padding: 0;
	margin:0;
}

/*** Dropdown-menu "a" style ***/
.dropdown-menu a{
    display: block;
    text-decoration: none;
    padding: 10px;
}

/***--- Hover dropdown effect START ---***/

.menu-content li:nth-child(1):hover{
	background-color: #333;

}
.menu-content li:nth-child(2):hover{
	background-color: #333;

}
.menu-content li:nth-child(3):hover{
	background-color: #333;

}
.menu-content li:nth-child(5):hover{
	background-color: #333;

}
.menu-content li:nth-child(6):hover{
	background-color: #333;

}
/*** Flex the item on mobile navbar***/
.icon-flex{
	display:flex;
}
.icon-flex a{
	color: white;
	text-decoration: none;
	padding: 1rem;
	font-weight: bold;
}

.icon-flex li{
	padding: 10px 20px;
}

.icon-flex li:hover{
	background-color:#333;
}
/*****************************************/

.menu-content a:hover{
	color:#F6BF58;
}
/***--- Hover dropdown effect END ---***/

/*** Menu "a" href style ***/
.menu-content a{
	color: white;
	margin: 0 0;
   	font-family: 'Teko', sans-serif;
   	font-size: 1.5rem;
	margin: 0;
}

/*** Dropdown-menu icon ***/
.dropdown-menu label{
    display: block;
    cursor: pointer;
    background: url(../img/closed.png) no-repeat left center;
	background-size: 2.5rem;
    padding: 10px 0 10px 80px;
} 

/***--- Toggle effect start ---***/
.menu-content{
    max-height: 0;
    overflow: hidden;
}

input:checked ~ .menu-content{
    max-height: 1000px;
    transition: all ease 1s;
}

input:checked ~ label{
    background: url(../img/open.png) no-repeat left center;
	background-size: 2.5rem;
}
/***--- Toggle effect end ---***/
/*----------------------- NAVBAR DROPDOWN MOBILE START ---------------------*/

/*----------------------- NAVBAR PC SECTION START --------------------------*/
nav{
	display:flex;
	justify-content: space-between;
	/*position:fixed;*/
	top:0;
	width:100%;
	background:#04080F;	
	border-bottom: 2px solid #F6BF58;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

nav ul{
	display:flex;
	list-style-type: none;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

nav li{
	padding: 10px 12px;
}

nav li:hover{
	background: #333;
} 

nav a{
	color: white;
	text-decoration: none;
	padding: 1rem;
	font-weight: bold;
}

nav a:hover{
	color: #F6BF58;
}


/* Icons on NavBar*/
.icon{
	background-repeat: no-repeat;
    background-size: contain;
	background-position: center;
	display: flex;
	align-items: center;
	
}
a.home{
    background-image: url(../img/whitehome.png);
}

a.fb{
	background-image: url(../img/facebook.png);  
}

a.insta{
	background-image: url(../img/instagram.png);
}

a.snap{
	background-image: url(../img/snapchat.png);
}

a.tw{
	background-image: url(../img/twitter.png);
}
/*---------------------------- NAVBAR PC SECTION END --------------------------*/




/*---------------------------- Banner start --------------------------------*/
.banner{
    background-image: url(../img/Loss-Of-Privacy-Svart.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*---------------------------- Banner end ----------------------------------*/




/*------------- Wrapper for big screen mobile layout section start ---------*/

/*** Body of big mobile section ***/
.wrapper-top{
    display: grid;
    grid-template-columns: 1fr;
	width: 100%;
	max-width: 70%;
	margin: 1vh auto;
	background: white;
    background-color: slategray;
    justify-content: center;
    align-content: center;
}

/*** Frame for big mobile section ***/
.wrapper-top aside{
	height: 85vh;
    width: 100%;
    min-width: 290px; 
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 7fr ;
	text-align: center;
    margin: 1vh;
    justify-content: center;
    align-content: center;
}

/*** Style for Chapter with 4 grid colums part section ***/ 
.ref-chapter-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 2px solid #04080F;
    background-color: antiquewhite;
}

/*** Style for Chapter with 3 grid colums part section ***/ 
.ref-chapter-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid #04080F;
    background-color: antiquewhite;
}

.wrapper-top aside div a{
    text-decoration: none;
}
/*------------- Wrapper for big screen mobile layout section end ---------*/

/*------------- Wrapper for mobile layout section start ------------------*/
/*** Body of mobil layout section ***/
.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
	width: 100%;
	max-width: 80%;
	margin: 1vh auto;
	background: white;
    background-color: slategray;
    justify-content: center;
    align-content: center;
}

/*** Frame of mobil layout section start ***/
.wrapper aside{
	height: 70vh;
    width: 18rem;
    min-width: 290px; 
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 7fr ;
	text-align: center;
    margin: 1vh;
    justify-content: center;
    align-content: center;
}
/*------------- Wrapper for mobile layout section end ------------------*/
/*--------------------------- Head part start --------------------------*/
/*** Head part of wrapper ***/
.panel-header{
    display: grid;
    grid-template-columns: 1fr;
	padding: 10px;
    text-align: center;
    background-color: #04080F;
    color: white;
}

.wrapper .panel-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/*--------------------------- Head part end ----------------------------*/

/*--------------------------- Body part start --------------------------*/
/*** Body part of wrapper ***/
.panel-body{
	overflow-y: scroll;
	margin: 0;
    text-align: left;
    background-color: antiquewhite;
    border-left: solid #04080F 2px;
    border-right: solid #04080F 2px;
}

/*** Wrapper for Youtube clips ***/
.klipp{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
}

/*** Frame for Youtube clips ***/
iframe{
    border: 0px;
    height: 100%;
    width: 100%;
}

h2{
    margin: 0.5rem;
}

p{
    margin: 0.5rem;
	line-height: 1.5rem;
	padding: 1vw;
}
/*--------------------------- Body part end -----------------------------*/

/*--------------------- Feet part of wrapper start ----------------------*/
/*** Body of feet part ***/
.box{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #04080F;
    padding: 1px 0;
    border: 2px solid #04080F;
}


.wrapper .box{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*** icons in feet part ***/
.box>div{
    height: 1.5rem;
    width: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0;
    align-self: center;
    margin: 6px auto;
}

.face{
    background-image: url(../img/facebook.png);
}

.snap{
    background-image: url(../img/snapchat.png);
}

.insta{
    background-image: url(../img/instagram.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.boxF>a:hover{
    background-color: #385899; 
}

.boxS>a:hover{
    background-color: #FFFB00;
}

.boxI>a:hover{
    background-color: #AC1587;  
}

.boxT>a:hover{
    background-color: #1DA1F4;  
}
/*--------------------- Feet part of wrapper end -----------------------*/




/*----------------------------- Footer start ---------------------------*/
/*** Body of footer ***/
footer{
    display: grid;
    justify-content: center;
    align-self: center;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #04080F;
    color: white;
	border-top: 2px solid #F6BF58;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
footer>div{
    max-width: 300px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas: "img tex"
                         "cop cop"
}

.logo{
    background-image: url(../img/Logo-vit.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: img;
    margin: 5px;
}
.kontakt{
    grid-area: tex;
    text-align: left;
}

.kontakt a{
	color: white;
}

.copy{
    grid-area: cop;
}

footer p{
    margin: 5px;
    padding: 2px;
}
/*---------------------------- Footer end -------------------------------*/



/*---------------------- Responsive start -------------------------------*/
/***--- Responsive over 890px start ---***/
@media only screen  and (min-width : 890px) {
    
    .middlenav{
        position: relative;
        margin-left: -35.05px;
    }
    
    .rightnav{
        margin-right: 56px;
    }
    
    /**** Hide dropdown-menu ***/
    .dropdown-menu{
		display: none;
	}
    
    .wrapper{
        grid-template-columns: repeat(4,1fr);
    }
}
/***--- Responsive over 890px end ---***/

/***--- Responsive under 890px start ---***/
@media only screen  and (max-width : 890px) {
	
    nav{
 		display: none;
	}
    
	input#menu{
        display: none;
	}
    
    .wrapper-top aside{
        max-width: 540px;
    }
    
    .wrapper{
        grid-template-columns: repeat(2,1fr);  
    }
    
    .ref-chapter-4{
        grid-template-columns: repeat(2,1fr);
    }
    
    .ref-chapter-3{
        grid-template-columns: 1fr;
    }

}
/***--- Responsive over 890px end ---***/

/***--- Responsive normal start ---***/
@media only screen and (max-width : 480px) {
    nav{
 		display: none;
		margin: 0;
		padding: 0;
 	}

    .wrapper-top{
        max-width: 80%;
    }
    
    .wrapper-top aside{
        height: 70vh;
        width: 18rem;
    }
    
    .wrapper{
    	grid-template-columns: 1fr;  
    }
    
    .ref-chapter-4{
        grid-template-columns: 1fr;
    }
    
    .ref-chapter-3{
        grid-template-columns: 1fr;
    }
}
/***--- Responsive over 890px end ---***/

/***--- Responsive mobile device start ---***/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    nav{
 		display: none;
		margin: 0;
		padding: 0;
 	}

    .wrapper-top{
        max-width: 80%;
    }
    
    .wrapper-top aside{
        height: 70vh;
        width: 18rem;
    }
    
    .wrapper{
    	grid-template-columns: 1fr;  
    }
    
    .ref-chapter-4{
        grid-template-columns: 1fr;
    }
    
    .ref-chapter-3{
        grid-template-columns: 1fr;
    }
}
/***--- Responsive mobile device end ---***/
/*---------------------- Responsive end ---------------------------------*/